.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 22px;
    height: 70px;
    width: 100%;

}

.Navbar span{
    padding-right: 3px;
    position: relative;
    top:3px
}
.navbar_div{
    border-right: 2px solid;
    padding-right: 10px;
    margin: 0 3px;
}
